@font-face {
    font-family: 'Azaret Mono';
    src: url('../font/AzeretMono-VariableFont_wght.ttf');
}

:root {
    --bg-color: #FDFCF7;
    --contrast-color: #010103;
    --shadow-color: #01010381;
    --subtle-color: #BFBFBF;
    --title-color: #4FB3A4;
    --genre-color: #C27076;
    --strong-color: #8DA60F;
    --hover-color: #D498A3;
    
    --btn-bg-gradient: linear-gradient(180deg, #D7D7D3 0%, #FDFCF7 100%);
    --btn-bg-active-gradient: linear-gradient(180deg, #b4b4b2 0%, #FDFCF7 100%);
    --btn-borderbg-gradient: linear-gradient(180deg, #FDFCF7 5%, #7D7D7A 100%);
    --btn-borderbg-active-gradient: linear-gradient(180deg, #d4d4d0 5%, #7D7D7A 100%);
    --btn-border-gradient: conic-gradient(
        from 0deg at 50% 45%, 
        #FDFCF700 34.66deg, 
        #FDFCF7 47.91deg, 
        #FDFCF700 60.7deg, 
        #FDFCF700 125.15deg,
        #fdfcf7a8 136.19deg, 
        #FDFCF700 145.16deg, 
        #FDFCF700 208.8deg, 
        #FDFCF7a8 224.75deg, 
        #FDFCF700 236.91deg, 
        #FDFCF700 303.29deg, 
        #FDFCF7 316.23deg, 
        #FDFCF700 329.59deg, 
        #FDFCF700 360.15deg
    );
    /* --game-borderbg-gradient: conic-gradient(
        from 180deg at 50% 50%,
        #b1cc28 0deg, 
        var(--contrast-color) 90deg, 
        var(--contrast-color) 270deg, 
        #b1cc28 360deg
    ); */
    --game-borderbg-gradient: conic-gradient(
        from 180deg at 50% 50%,
        var(--subtle-color) 0deg, 
        var(--contrast-color) 90deg, 
        var(--contrast-color) 270deg, 
        var(--subtle-color) 360deg
    );

    --gameTitle-size: 1.5rem;
    --border-size: 0.2rem;
    --border-radius: 35px;
    --btn-border-radius: 12px;
    --txt-weight: 600;
    --tab-size: 2rem;

    --transition: 0.2s;
}

:root.dark {
    --bg-color: #010103;
    --contrast-color: #FDFCF7;
    --shadow-color: #FDFCF781;
    --subtle-color: #404040;

    --btn-bg-gradient: linear-gradient(180deg, #1A1919 0%, #3D3D3C 100%);
    --btn-bg-active-gradient: linear-gradient(180deg, #0f0f0f 0%, #2c2c2c 100%);
    --btn-borderbg-gradient: linear-gradient(180deg, #1A1919 5%, #0f0f0f 100%);
    --btn-borderbg-active-gradient: linear-gradient(180deg, #0f0f0f 5%, #000000 100%);
    --btn-border-gradient: conic-gradient(
        from 0deg at 50% 45%, 
        #66666400 -30.41deg,
        #66666400 0.15deg, 
        #66666400 34.66deg, 
        #666664 47.91deg, 
        #66666400 60.7deg, 
        #66666400 125.15deg, 
        #666664a8 136.19deg, 
        #66666400 145.16deg, 
        #66666400 180deg, 
        #66666400 208.8deg, 
        #666664a8 224.75deg, 
        #66666400 236.91deg, 
        #66666400 303.29deg, 
        #666664 316.23deg, 
        #66666400 329.59deg, 
        #66666400 360.15deg
    );

    --game-borderbg-gradient: conic-gradient(
        from 180deg at 50% 50%,
        var(--contrast-color) 0deg, 
        var(--subtle-color) 90deg, 
        var(--subtle-color) 270deg, 
        var(--contrast-color) 360deg
    );
}





* {
    color: var(--contrast-color);

    font-family: Azaret Mono;
    font-size: 1rem;

    padding: 0%;
    border: 0rem solid var(--contrast-color);
    margin: 0%;

    transition: var(--transition);
}

html {
    font-size: 2,5vh;
}

body {
    background-color: var(--bg-color);
}

section {
    margin: 2rem 0vw;
}

ul, ol, .keys {
    padding-left: var(--tab-size);
}

.no-color-transition * {
    transition: background-color 0s !important;
    transition: color 0s !important;
    transition: border-color 0s !important;
}





/* TXT CLASSES */
h1 {
    font-size: 2rem;
}

.title-txt {
    font-size: var(--gameTitle-size);
    color: var(--title-color);
}

.color-txt {
    color: var(--title-color);
}

.subtle-txt {
    color: var(--subtle-color);
}

.genre-txt {
    color: var(--genre-color);
    font-weight: var(--txt-weight);
}

.strong-txt {
    color: var(--strong-color);
    font-weight: var(--txt-weight);
}

.img-txt {
    color: var(--subtle-color);
    background-color: var(--contrast-color);
    
    padding: 5px 10px;
    width: fit-content;
    
    position: absolute;
    bottom: 100%;
    opacity: 0;
}

.small-txt {
    color: var(--subtle-color);
    font-size: 0.75rem;
}

/* ICONS */
.icon {
   /* Add dimensions to span */
   display: inline-block;
   width: 1.5rem;
   height: 1.5rem;

   /* Add background image */
   background-color: var(--contrast-color);

   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: 100% 100%;
   mask-size: 100% 100%;
}
#mail {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7.175q.125 0 .263-.038t.262-.112L19.6 8.25q.2-.125.3-.312t.1-.413q0-.5-.425-.75T18.7 6.8L12 11L5.3 6.8q-.45-.275-.875-.012T4 7.525q0 .25.1.438t.3.287l7.075 4.425q.125.075.263.113t.262.037'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
   mask-image: var(--svg);

    /* https://icon-sets.iconify.design/material-symbols/?keyword=material+s */
}
#linkedin {
   --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M27.26 27.271h-4.733v-7.427c0-1.771-.037-4.047-2.475-4.047c-2.468 0-2.844 1.921-2.844 3.916v7.557h-4.739V11.999h4.552v2.083h.061c.636-1.203 2.183-2.468 4.491-2.468c4.801 0 5.692 3.161 5.692 7.271v8.385zM7.115 9.912a2.75 2.75 0 0 1-2.751-2.756a2.753 2.753 0 1 1 2.751 2.756m2.374 17.359H4.74V12h4.749zM29.636 0H2.36C1.057 0 0 1.031 0 2.307v27.387c0 1.276 1.057 2.307 2.36 2.307h27.271c1.301 0 2.369-1.031 2.369-2.307V2.307C32 1.031 30.932 0 29.631 0z'/%3E%3C/svg%3E");
   -webkit-mask-image: var(--svg);
   mask-image: var(--svg);

   background-color: #3297be;

   /* https://icon-sets.iconify.design/cib/?keyword=coreui */
}





/* FORMAT CLASSES */
.mobile {
    display: none;
}

.div-cont {
    box-sizing: border-box;
    background-color: var(--bg-color);
    
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    padding: 2rem;
    border-width: 1px;
    border-color: var(--subtle-color);

    box-shadow: 0px 0px 5px #0000001c;
}

img, #img-border {
    /* width: 145px;
    height: 145px; */
    border: 2px solid #00000000;
    transition: var(--transition);
}

.img-cont {
    width: fit-content;
}

.img-cont:hover .img-txt, .img-cont:hover #img-border{
    border-color: var(--contrast-color);
    opacity: 1;
}

button {
    position: relative;
    background-color: #00000000;
    border-color: #00000000;
    
    /* color: var(--genre-color); */
    border-radius: var(--btn-border-radius);
    border-width: 2px 2px var(--border-size) 2px;
    

    padding: 1rem;
    /* border-image: var(--btn-border-gradient) 1; */
        
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    /* z-index: 0; */
}
button:hover {
    transform: scale(1.03);
    /* box-shadow: 0px 0px 10px var(--shadow-color); */
    background: var(--btn-bg-gradient);
    border-color: var(--subtle-color);
}
button:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 15px #00000000;
    border-color: var(--subtle-color);
    background: var(--btn-bg-active-gradient);
}

.btn {
    position: relative;
    
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    
    background: var(--btn-bg-gradient);
    border-radius: var(--btn-border-radius);
    margin: 7px 10px 15px 10px;
        
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* máscara para el fondo (::before) */
}
.btn::before {
    content: "";
    position: absolute;
    inset: -1rem;
    background: var(--btn-bg-gradient);
    transition: var(--transition);
} 




.mask-container {
    position: relative;
    display: inline-block;

    border-radius: var(--btn-border-radius);
}
.mask-container::before {
    content: "";
    position: absolute;
    inset: 0px;
    border-radius: var(--btn-border-radius);
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    z-index: 0;
}


.mask {
    position: absolute;
    inset: 0px; /* más grande que el botón */
    border-radius: var(--btn-border-radius);
    overflow: hidden; /* define los límites */
    z-index: 0;
}
.mask::before { /* brillo de las esquinas */
    content: "";
    position: absolute;
    inset: -1rem;
    background: var(--btn-border-gradient);
    
    transition: var(--transition);
}
.mask::after { /* linear gradient debajo del brillo de las esquinas (el que gira) */
    content: "";
    position: absolute;
    inset: -1rem;
    background: var(--btn-borderbg-gradient);
    z-index: -1;
    
    animation: spin 5s ease-in-out infinite;
}

.mask-container:hover, .mask-container:hover .mask::after, .mask-container:hover .btn::before {
    box-shadow: 0px 5px 10px var(--shadow-color);
    transform: scale(1.1);
}

.mask-container:active .btn::before {
    background: var(--btn-bg-active-gradient);
}
.mask-container:active .mask::after {
    background: var(--btn-borderbg-active-gradient);
}
.mask-container:active {
    transform: scale(0.9);
    box-shadow: 0px 0px 15px #00000000;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.parallax-1 {
    position: absolute;
    z-index: -1;
    opacity: 50%;
}
.parallax-2 {
    position: absolute;
    z-index: -2;
    opacity: 25%;

    left: 50%;
}












/* BOOTSTRAP MANUAL */
.full-width {
    width: 100%;
    box-sizing: border-box;
}

.fit-content {
    width: fit-content;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem 2rem;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
}

.g-0 {
    gap: 0rem;
}
.g-0w5 {
    gap: 0.5rem;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-right {
    display: flex;
    justify-content: flex-end;
}

.align-center {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.w-100 {
    width: 100%;
}

.m-1 {
    margin: 1rem;
}

.mv-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mv-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mh-25 {
    margin-left: 25%;
    margin-right: 25%;
}

#mh-4 {
    margin-left: 4rem;
}

.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}

.pv-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
} 
.ph-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.flex-start{
    align-self: flex-start;
    margin-right: auto;
}
.flex-end {
    /* align-self: flex-end; */
    margin-top: auto;
    /* position: absolute;
    bottom: 0px; */
}

.z-1 {
    position: relative;
    z-index: 1;
}

.z-2 {
    position: relative;
    z-index: 2;
}













/* ID's */
#sticky {
    background-color: var(--bg-color);
    margin: 0%;
    padding: 1rem;
    border-width: 1px;
    position: sticky;
    top: 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    z-index: 1;
}

#home-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#intro-cont {
    margin: 12.5vh 0px;
    min-height: 50vh;
}

#footer-cont {
    margin: 12.5vh 0px 0px 0px;
    min-height: 50vh;
    padding: 2rem 25%;
    background-color: var(--subtle-color);
    
    position: relative;
}

/* COMMENTS, KEYS & REGIONS, PROGRAMMING LANGUAJE */
.region::before {
    content: "#region \A \A";
    white-space: pre;
}
.region::after {
    content: "\A #endregion";
    white-space: pre;
}
.region::before, .region::after {
    color: var(--subtle-color);
    transition: var(--transition);
}
.region.q::before, .region.q::after, .q .region::before, .q .region::after { 
    position: relative;
    left: -2rem;
}
.region {
    margin: 1rem 0rem;
}

.q {
    position: relative;
    margin-left: var(--tab-size);
}
.q .line-comment {
    position: absolute;
    left: -2rem;
    color: var(--subtle-color);
    pointer-events: none;
}

.keys::before {
    content: "{";
}
.keys::after {
    content: "}";
}
.keys::before, .keys::after {
    color: var(--subtle-color);
    position: relative;
    left: -2rem;
    transition: var(--transition);
}

#name-img img, #gamedesign-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
#name-img img{
    max-width: 500px;
}
#gamedesign-img img{
    max-width: 300px;
}








/* PROJECTS CONTENT */
.project-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.end-txt { /* start & end processes of flux diagram */
    color: var(--bg-color);
    background-color: var(--subtle-color);
    
    padding: 10px 20px;
    width: fit-content;

    border-radius: var(--border-radius);
}

#semicolon {
    position: absolute;
    top: 50%;
    left: 87.3%;
    transform: translate(-50%, -50%);
}


.game-container {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    /* min-height: 33.3vh; */
    margin: 2rem 0px;
}
.game-container:hover {
    box-shadow: 0px 5px 20px var(--shadow-color);
    transform: scale(1.03);
    img {
        animation: spin-img 5s linear infinite;
    }
}
.game-container:active {
    box-shadow: 0px 0px 10px var(--shadow-color);
    transform: scale(1);
}

a.game-card {
    text-decoration: none;
}

.game-card {
    position: relative;
    box-sizing: border-box;
    background-color: var(--bg-color);
    /* border-width: var(--border-size); */
    width: 100%;
    min-height: 33.3vh;
    
    padding: 2rem 2rem;
    
    transition: var(--transition);
    
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;

}

@keyframes spin-img {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.game-mask-container {
    position: absolute;
    inset: -3px;
}
.game-mask-container::before {
    content: "";
    position: absolute;
    inset: 0px;
    box-shadow: 0 5px 5px #0000002d;
    /* box-shadow: 0 5px 5px #8da60f2d; */
    z-index: -1;
}


.game-mask {
    position: absolute;
    inset: 0px;
    overflow: hidden;
    z-index: -1;
}
.game-mask::after { /* linear gradient debajo del brillo de las esquinas (el que gira) */
    content: "";
    position: absolute;
    inset: -25rem;
    background: var(--game-borderbg-gradient);
    z-index: -1;
    
    animation: game-spin 10s linear infinite;
}



@keyframes game-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* LINES */
.parent {
    position: relative;
}

#table-of-cont {
    box-sizing: border-box;
    width: 16.6%;
    height: 12,5vh;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    /* justify-content: center; */
    align-items: center;
}

.diamond {
    width: 40px;
    height: 34px;
    background-color: var(--contrast-color);
    transform: rotate(30deg) skew(-30deg);
    /* z-index: 2; */
}

#open {
    background-color: var(--bg-color);
    border-width: var(--border-size);
}

#section-txt {
    position: absolute;
    top: -10px;
    left: 150%;
}

.section-line {
    border-width: var(--border-size) var(--border-size) 0rem 0rem;
    width: 8.2vw;
    height: 150px;
    border-top-right-radius: var(--border-radius);
    
    position: absolute;
    top: 47%;
    left: 50%;
    z-index: -1;
}

.enter-line {
    border-width: 0rem 0rem var(--border-size) var(--border-size);
    /* box-sizing: border-box; */
    width: 70.7%;
    height: 125px;
    border-bottom-left-radius: var(--border-radius);
    
    position: absolute;
    left: 16.6%;
    bottom: 50%;

    z-index: -1;
}

.vert-line {
    width: var(--border-size);
    height: 2REM;
    background-color: var(--contrast-color);
}

























/* MEDIA QUERY's */

/* Tablet grande (máx. 1024px) */
@media (max-width: 1024px) {
    button {
        background: var(--btn-bg-gradient);
        border-color: var(--subtle-color);
    }
    button:hover {
        /* transform: scale(1.03); */
        box-shadow: 0px 0px 10px var(--shadow-color);
    }

    .mh-25 {
       margin-left: 10%; 
       margin-right: 10%; 
    }
    
    .bottom {
        position: relative;
        padding: 0px;
    }

    .game-card {
        width: 80%;
        flex-direction: column;
        img {
            animation: spin-img 5s linear infinite;
        }
    }

    #table-of-cont{
        width: 100%;
    }
    .section-line, .enter-line, #semicolon{
        display: none;
    }
    
    .mobile {
        display: block;
        position: absolute;
        top: 6rem;
        height: 10rem;
        z-index: -1;
    }

    #footer-cont {
        padding: 2rem 10%;
    }

    /* #table-of-cont{
        width: 10%;
    }
    .section-line {
        display: none;
    }
    .enter-line {
        width: 90%;
        left: 5%;
        height: 17rem;
    }
    #semicolon {
        left: 95%;
    } */
}

/* Nivel 2: Tablet pequeña / móvil grande (máx. 768px) */
@media (max-width: 768px) {
    html {
        font-size: 1.75vh;
    }
}

/* Nivel 3: Móvil pequeño (máx. 480px) */
@media (max-width: 480px) {

}