@font-face {
    font-family: 'Azaret Mono';
    src: url('../font/AzeretMono-VariableFont_wght.ttf');
}

:root {
    --bg-color: #010103;
    --contrast-color: #FDFCF7;
    --subtle-color: #404040;
    --title-color: #4FB3A4;
    --genre-color: #8DA60F;
    --strong-color: #C27076;
    --hover-color: #D498A3;

    --gameTitle-size: 1.5rem;
    --border-size: 0.2rem;
    --border-radius: 35px;
    --txt-weight: 600;
    --tab-size: 2rem;

    --transition: 0.2s;
}

:root.light {
    --bg-color: #FDFCF7;
    --contrast-color: #010103;
    --subtle-color: #BFBFBF;
}





* {
    color: var(--contrast-color);

    font-family: Azaret Mono;
    font-size: 1rem;

    padding: 0%;
    border: 0rem solid var(--contrast-color);
    margin: 0%;

    transition: var(--transition);
}

html {
    font-size: 2,5vh;
}

body {
    background-color: var(--bg-color);
}

section {
    margin: 2rem 0vw;
}

ul, ol, .keys {
    padding-left: var(--tab-size);
}

.no-color-transition * {
    transition: background-color 0s !important;
    transition: color 0s !important;
    transition: border-color 0s !important;
}





/* TXT CLASSES */
h1 {
    font-size: 2rem;
}

.title-txt {
    font-size: var(--gameTitle-size);
    color: var(--title-color);
}

.subtle-txt {
    color: var(--subtle-color);
}

.genre-txt {
    color: var(--genre-color);
    font-weight: var(--txt-weight);
}

.strong-txt {
    color: var(--strong-color);
    font-weight: var(--txt-weight);
}

.img-txt {
    color: var(--bg-color);
    background-color: var(--contrast-color);
    
    padding: 5px 10px;
    width: fit-content;

    position: absolute;
    bottom: 100%;
    opacity: 0;
}





/* FORMAT CLASSES */
#sticky {
    background-color: var(--bg-color);
    margin: 0%;
    padding: 1rem;
    border-width: 1px;
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    z-index: 1;
}

.div-cont {
    box-sizing: border-box;
    
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    padding: 1rem;
    border-width: 1px;
    border-color: var(--subtle-color);
}

img {
    /* width: 145px;
    height: 145px; */
    border: var(--border-size) solid #00000000;
    transition: var(--transition);
}

.img-cont {
    width: fit-content;
}

.img-cont:hover img{
    border-color: var(--contrast-color);
}

.img-cont:hover .img-txt{
    opacity: 1;
}

button {
    background-color: var(--bg-color);
    border-width: var(--border-size);
    padding: 1rem;
    border-color: var(--genre-color);
    color: var(--genre-color);
}

button:hover, .game-card:hover {
    box-shadow: 0px 0px 15px var(--contrast-color);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.w-100 {
    width: 100%;
}

.m-1 {
    margin: 1rem;
}

.mv-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mv-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mh-25 {
    margin-left: 25%;
    margin-right: 25%;
}

#mh-4 {
    margin-left: 4rem;
}

.bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

/* ID's */
#home-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#intro-cont {
    margin: 12.5vh 0px;
    min-height: 50vh;
}

#footer-cont {
    margin: 12.5vh 0px 0px 0px;
    min-height: 50vh;
    padding: 2rem 0px 0px 8.3%;
    background-color: var(--subtle-color);
}

/* COMMENTS, KEYS & REGIONS, PROGRAMMING LANGUAJE */
.region::before {
    content: "#region \A \A";
    white-space: pre;
}
.region::after {
    content: "\A #endregion";
    white-space: pre;
}
.region::before, .region::after {
    color: var(--subtle-color);
    position: relative;
    left: -2rem;
}
.region {
    margin: 1rem 0rem;
}

.q {
    position: relative;
    margin-left: var(--tab-size);
}
.q .line-comment {
    position: absolute;
    left: -2rem;
    color: var(--subtle-color);
    pointer-events: none;
}

.keys::before {
    content: "{";
}
.keys::after {
    content: "}";
}
.keys::before, .keys::after {
    color: var(--subtle-color);
    position: relative;
    left: -2rem;
}






/* PROJECTS CONTENT */
.project-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.end-txt { /* start & end processes of flux diagram */
    color: var(--bg-color);
    background-color: var(--subtle-color);
    
    padding: 10px 20px;
    width: fit-content;

    border-radius: var(--border-radius);
}

#semicolon {
    position: absolute;
    top: 50%;
    left: 87.3%;
    transform: translate(-50%, -50%);
}

a.game-card {
    text-decoration: none;
}

.game-card {
    box-sizing: border-box;
    background-color: var(--bg-color);
    border-width: var(--border-size);
    /* border-radius: var(--border-radius); */
    width: 50%;
    min-height: 33.3vh;
    
    margin: 2rem 0px;
    padding: 2rem 2rem;
    
    transition: var(--transition);
    
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}

/* LINES */
.parent {
    position: relative;
}

#table-of-cont {
    box-sizing: border-box;
    width: 16.6%;
    height: 12,5vh;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    /* justify-content: center; */
    align-items: center;
}

.diamond {
    width: 40px;
    height: 34px;
    background-color: var(--contrast-color);
    transform: rotate(30deg) skew(-30deg);
    /* z-index: 2; */
}

.diamond:hover {
    box-shadow: 5px 5px 15px var(--contrast-color);
}

#open {
    background-color: var(--bg-color);
    border-width: var(--border-size);
}

#section-txt {
    position: absolute;
    top: -10px;
    left: 150%;
}

.section-line {
    border-width: var(--border-size) var(--border-size) 0rem 0rem;
    width: 8.2vw;
    height: 150px;
    border-top-right-radius: var(--border-radius);
    
    position: absolute;
    top: 47%;
    left: 50%;
    z-index: -1;
}

.enter-line {
    border-width: 0rem 0rem var(--border-size) var(--border-size);
    /* box-sizing: border-box; */
    width: 70.7%;
    height: 125px;
    border-bottom-left-radius: var(--border-radius);
    
    position: absolute;
    left: 16.6%;
    bottom: 50%;

    z-index: -1;
}

.vert-line {
    width: var(--border-size);
    height: 2REM;
    background-color: var(--contrast-color);
}